<div mat-dialog-title>
  <h1>Contacto</h1>
</div>

<form action="" class="action">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>País</mat-label>
        <mat-select>
          <mat-option *ngFor="let element of countries" [value]="element" >{{ element }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="action">
      <button mat-raised-button [mat-dialog-close]="false" type="button">Cancelar</button>
      <button type="submit" mat-flat-button>Registrar</button>
    </div>


  </div>
</form>
